header {
    background-color: rgb(31, 41, 53);
    color: white;
    padding: 20px;
    width: 100%;
}
* {
    box-sizing: border-box;
}

#button1 {
    position: absolute;
    left: 15%;
}

.firstHeader{
    text-align: center;
    padding: 20px;
    border:rgb(53, 53, 53) solid 1px;
    border-style:hidden;
    font-size: 2vh;
}

.secondHeader{
    margin-bottom: 100px;
    position: relative;
}

a {
    color: white;
    padding: 5px;
    text-decoration: none;
}

#bigText{
    margin-left: 15%;
    font-size: 40px;
}

#undertext{
    width: 384px;
    margin-left: 15%;
}
#img1{
    background-color: RGB(108, 115, 125);
    position: absolute;
    right: 10%;
    top: 0;
    text-align: center;
}



button {
    border-radius: 10px;;
    padding: 10px 20px;
    background-color: rgb(57, 129, 250);
    color: white;
    border-style: none;

}

body {
    overflow-x: hidden;
    margin: 0;
}


hr{
    width: 100%;
}


#bigText2{
    color: #23282C;
    text-align: center;
    margin-bottom: 5%;
    font-size: 3vh;
}

.main1{
    margin: 0 auto;  
    width: 50%;  
    margin-bottom: 25%;
    color:rgb(83, 83, 83);
    margin-top: 3%;
    margin-bottom: 30%;
}

#img2{
    position: absolute;
    float: left;
    clear: left;
    margin-bottom: 10%;
    border-radius: 10px;
    border: solid 4px;
    border-color: #437CF5;
}

#undertext2{
    float: right;
    clear: right;
    width: 50%;
    margin-bottom: 10%;
}

#img3{
    float: right;
    clear: right;
    border-radius: 10px;
    border: solid 4px;
    border-color: #437CF5;
}

#undertext3{
    float: left;
    clear: left;
    width: 50%;
    margin-top: 30%;
}


.main2{
    width: 80%;
    background-color: #E4E5EA;
    margin: 0 auto;
    padding: 100px;
}

#italicText{
    width: 40%;
    margin: 0 auto;
    text-shadow: 2px 2px 5px;
    color: rgb(65, 65, 65)
}

#writerText{
    width: 33%;
    margin: 0 auto;
    float: right;
}

.main3{
    background-color: #3783F5;
    color: white;
    width: 50%;
    margin: 0 auto;
    margin-top: 5%;
    border-radius: 10px;
    padding: 50px;
    position: relative;
}

#finalText{
    width: 50%;
    margin-left: 15%;
}

#button2{
    position: absolute;
    right: 150px;
    top: 85px;
    border-radius: 5px;;
    padding: 10px 20px;
    background-color: rgb(57, 129, 250);
    color: white;
    border-style: none;
    border-color: white;
    border: solid 2px;
}

footer{
    background-color: rgb(31, 41, 53);
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    margin-top: 5%;
    color: white;
    text-align: center;
    margin-bottom: 10%;
}
